
.cuadrado{
    width: 150px;
    height: 150px;
    left: 0%;
    margin-right: 1%;
    border: 2px solid black;


}

.top{
    width: 1190px;
    height: 150px;
    position: fixed;
    margin-top: 0%;
    right: 1%;
    left: 165px;
    border: 2px solid black;
}



.ladiz{
    width: 150px;
    height: 400px;
    position: fixed;
    left: auto;
    margin-top: 4px;
    border: 2px solid black;
}

.menu{
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
    
}

.menu li a:hover{
background: #ef8354
}



.header-container {
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.flex-container div{
    justify-content: center;
    bottom: 300px;
    left: 300px;
    margin-top: auto;
    width: 50px;
    height: 30px;
    background-color:greenyellow ;
    margin: 5px;
    text-align: center;
    color: black;
}

 .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    flex-direction: row;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .photo-grid-item {
    width: 400px;
    height: 00px;
  }
  
  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }

.cuadrado2
{
    max-width: 400px;
    max-height: 400px;
}